#numb{
    margin-top:20%;
    margin-left: 27%;
    font-size: 25px;
}
#msg{
    font-size: 25px;
}
#send{
    margin-left:46%;
    margin-top: 2%;
    font-size: 25px;
}
.info{
    margin-top: 4%;
 margin-left: 32%;
    font-size: 25px;
}
*{
    background-color: salmon;
}